.tooltipje{
  font-size: 12px;
  font-weight: bold;
  position: absolute;
}

body {
    position: relative;
}

#section1 {padding-top:50px;height:800px;background-color: LightGray;}
#section2 {padding-top:50px;height:800px}
#section3 {padding-top:50px;height:800;background-color: LightGray;}
